* {
    margin: 0;
    padding: 0;
    font-family: bugati;
    /* cursor: none; */
}

header {
    background-image: url("./2268691-piano-a-queue-dans-un-grand-theatre-gratuit-photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    scroll-snap-align: start;
}

main {
    height: 100vh;
}

.scroll-container {
    overflow: auto;
    scroll-snap-type: y mandatory;
}

html {
    scroll-snap-type: mandatory;
}

.text-header {
    height: 100%;
    font-size: 195%;
    width: 60%;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

::selection {
    background: whitesmoke;
    color: black;
}

.main-text {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 480%;
}

.background-image-main {
    background-image: url("./7e6d8edd24fecb9392add3f4fda33903.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 75%;
}


#cursor2 {
    position: absolute;
    pointer-events: none;
    background-color: whitesmoke;
    height: 5%;
    width: 5%;
    mix-blend-mode: difference;
    border-radius: 100%;
}


@font-face {
    font-family: bugati;
    src: url("./fonts/Cocogoose\ Condensed\ trial.ttf");
}